
<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4">
          <h2 class="logo"><a href="#">Lafayette <span>Mowing</span></a></h2>
          <p>From yard work to landscaping, we deliver expert care to make your lawn the envy of the neighborhood.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Services</h2>
          <ul class="list-unstyled">
            <li><a class="py-1 d-block" href="#scroll-to"><span class="ion-ios-arrow-forward mr-3"></span>Garden Care</a></li>
            <li><a class="py-1 d-block" href="#scroll-to"><span class="ion-ios-arrow-forward mr-3"></span>Lawn mowing</a></li>
            <li><a class="py-1 d-block" href="#scroll-to"><span class="ion-ios-arrow-forward mr-3"></span>Lawn Care</a></li>
            <li><a class="py-1 d-block" href="#scroll-to"><span class="ion-ios-arrow-forward mr-3"></span>Gutter Cleaning</a></li>
            <li><a class="py-1 d-block" href="#scroll-to"><span class="ion-ios-arrow-forward mr-3"></span>New Lawn Installation</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Contact information</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><a href="https://www.google.com/maps/place/Lafayette,+IN"><span class="icon icon-map"></span><span class="text">Lafayette, IN</span></a></li>
              <li><a href="tel:{{ site.phone_link }}"><span class="icon icon-phone"></span><span class="text">{{ site.phone_label }}</span></a></li>
              <!-- <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Business Hours</h2>
          <div class="opening-hours">
            <p class="pl-3">
              <span>Mon - Fri : 9am to 5pm</span><br/>
              <span>Sat : 9am to 3pm</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright Lafayettemowing.com &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a></p>
      </div>
    </div>
  </div>
</footer>
